.form__element {
	position: relative;
}

.form__label {
	font-family: 'vwheadoffice-bold', sans-serif;
	@include font-param(18px, 18px, 700);
	padding-bottom: 8px;

	&_price {
		font-family: 'vwheadoffice-bold', sans-serif;
		@include font-param(12px, 14px, 600);
		text-transform: uppercase;

		label {
			margin-right: 5px;
		}

	}

	&_checkbox {
		font-family: 'vwtextoffice-regular', sans-serif;
		display: block;
		@include font-param(16px, 16px, 400);
		padding-left: 48px;
		margin-bottom: 15px;
		position: relative;
		cursor: pointer;

		span {
			display: inline-block;
			width: 232px;
			position: relative;
		}

		&::before {
			content: '';
			position: absolute;
			top: -2px;
			left: 0;
			@include size(30px);
			border: 1px solid #dee1e3;
			border-radius: 3px;
			background-color: $white;
			cursor: pointer;
		}

	}

}

.form__checkbox {
	display: none;
}

.form__checkbox:checked ~ span::before {
	content: '';
	position: absolute;
	top: -1px;
	left: -48px;
	@include size(32px);
	border-radius: 3px;
	background-color: $blue;
}

.form__checkbox:checked ~ span::after {
	content: '';
	position: absolute;
	top: 8px;
	left: -41px;
	@include size(16px, 7px);
	border-bottom: 3px solid $white;
	border-left: 3px solid $white;
	transform: rotate(-45deg);
}

.form__select {

	&_filters {
		width: 280px !important;

		.chosen-container-single .chosen-single {
			font-size: 18px;
		}

		.chosen-drop {
			font-size: 18px;
		}

	}

	&_city,
	&_dealer {

		.chosen-container-single .chosen-single {
			font-size: 16px;
		}

		.chosen-drop {
			font-size: 16px;
		}

	}

}

.form__text {
	@include font-param(16px, 12px, 400);
	padding-top: 8px;
	padding-bottom: 11px;
	padding-left: 14px;
	border: solid 1px #cfd7d9;
	border-radius: 3px;
}

.form__cell {
	width: 280px;
	margin: auto;

	&_filters {
		margin-bottom: 20px;
	}

	&_text_name {
		display: inline-block;
		width: 129px;
		margin-right: 12px;
	}

	&_text,
	&_select {
		margin-bottom: 20px;
	}

	&_select_dealer {
		margin-bottom: 3px;
	}

}


@media ($wide-widths) {

	.form__cell {

		&_filters {
			width: 346px;
			display: inline-block;
			margin-left: 90px;
			margin-right: 15px;
			margin-bottom: 48px;

			&:last-of-type {
				margin-left: 0;
			}

			&_credit {
				width: 254px;
			}

			&_program {
				width: 706px;
				left: 90px;
				position: absolute;
			}

		}

		&_text {
			width: 345px;
			display: inline-block;
			margin-bottom: 23px;

			&_name {
				width: 228px;
				margin-right: -4px;
			}

			&_email {
				margin-right: 13px;
			}

		}

		&_select {
			display: inline-block;

			&_dealer {
				width: 233px;
			}

			&_city {
				width: 345px;
				margin-right: 12px;
			}

		}

	}

	.form__select {

		&_filters {
			width: 346px !important;

			&_credit {
				width: 254px !important;
			}

			&_program {
				width: 706px !important;
			}

		}

	}

	.form__label {

		&_price {
			font-size: 13px;
			display: inline-block;
			position: relative;

			label {
				margin-right: 8px;
			}

		}

		&_checkbox {
			padding-left: 34px;
			margin-bottom: 37px;
			margin-top: 9px;
			position: relative;

			&:first-of-type {
				margin-bottom: -6px;
			}

			&::before {
				@include size(19px);
			}

			span {
				width: 525px;

				&:last-of-type {
					width: 584px;
				}

			}

		}

	}

	.form__label_checkbox::after {
		@include circle('2', 559px, -4px);

	}

	.form__label_checkbox_2::after {
		@include circle('3', 618px, -4px);
	}

	.form__checkbox:checked ~ span::before {
		@include size(19px);
		left: -33px;
	}

	.form__checkbox:checked ~ span::after {
		@include size(10px, 5px);
		border-width: 2px;
		top: 4px;
		left: -30px;
	}



}
