.icon {

	&_ruble {
		@include size(11px, 12px);

		&_slider {
			position: absolute;
			top: 42px;
			left: 83px;
		}

		&_popup {
			display: none;
		}

	}

	&_edit {
		@include size(15px, 16px);
	}

	&_blue {
		fill: $blue;
	}

	&_white {
		fill: $white;
	}

	&_gray {
		fill: $graytext;
	}

	&_loc {
		@include size(9px, 13px);
		position: absolute;
		top: 13px;
		left: 92px;
	}

	&_select {
		position: absolute;
		@include size(13px, 18px);
		top: 35px;
		left: 254px;
	}

	&_save {
		@include size(18px);
		position: absolute;
		top: 6px;
		left: 6px;
		fill: $white;
	}

	&_brochure {
		@include size(17px, 18px);
		position: absolute;
		top: 6px;
		left: 6px;
		fill: $white;
	}

}


@media ($wide-widths) {

	.icon {

		&_ruble.icon_blue_prices {
			margin-left: -5px;
		}

		&_ruble.icon_blue_payment {
			margin-left: 2px;
		}

		&_ruble.icon_white {
			margin-left: 2px;
		}

		&_ruble_popup {
			display: inline;
			@include size(8px, 9px);
		}

		&_edit {
			position: absolute;
			top: -31px;
			left: 157px;
		}

		&_ruble_doc {
			margin-top: 10px;
		}

		&_loc {
			left: 16px;
		}

	}

}
