.range {
	width: 100%;
	position: relative;
	margin: auto;
	margin-bottom: 49px;

	&_rest {
		margin-bottom: 65px;
	}

}

.range__input {
	width: 264px;
	margin-top: 8px;
	border-color: #bdc3c6;
}

.range__slider {
	position: absolute !important;
	top: 62px;
	left: 17px;
	width: 246px !important;
	margin: auto;
}


@media ($wide-widths) {

	.range {
		width: 254px;
		margin-bottom: 66px;

		&_rest {
			position: absolute;
			top: 246px;
			left: 90px;
		}

		&_standard {
			margin-bottom: 59px;
		}

	}

	.range__input {
		width: 238px;
	}

	.range__slider {
		width: 220px !important;
	}

}
