.tabs__option {
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
}

.tabs_programs {

	.tabs__wrapper {
		@include size(280px, 38px);
		background-color: $blue;
		border-radius: 60px;
		margin: auto;
		margin-bottom: 25px;
	}

	.tabs__option_prog {
		font-family: 'vwheadoffice-bold', sans-serif;
		@include font-param(10px, 10px, 700, $white);
		margin-right: 8px;
		padding-top: 14px;
		padding-bottom: 12px;
		border-radius: 40px;

		&:first-of-type {
			margin-left: 24px;
		}

	}

	.tabs__radio {
		display: none;
	}

	.tabs__radio_prog:checked + .tabs__option_prog {
		font-family: 'vwheadoffice-bold', sans-serif;
		@include font-param(10px, 10px, 400);
		text-align: center;
		padding: 0;
		padding-top: 8px;
		margin-left: 7px;
		margin-right: 7px;
		background-color: $white;
		@include size(134px, 19px);
		border-radius: 60px;
	}

	.tabs__radio_prog:checked + .tabs__option_prog:last-of-type {
		margin-left: 0;
	}

}

.tabs_docs {
	margin-top: 37px;

	.tabs__wrapper_docs {
		width: 278px;
		background-color: $white;
		border: 1px solid $blue;
		margin-bottom: 31px;
	}

	.tabs__option_docs {
		font-family: 'vwtextoffice-regular';
		color: $graytext;
		font-size: 13px;
		margin-right: 4px;
		padding-top: 12px;

		&:first-of-type {
			margin-left: 12px;
		}

		&:last-of-type {
			margin-right: 0;
		}

	}

	.tabs__radio_docs:checked + .tabs__option_docs {
		font-family: 'vwtextoffice-regular';
		@include font-param(13px, 10px, 400, $blue);
		border: none;
	}

	.tabs__radio_docs:checked + .tabs__option_docs:last-of-type {
		margin-left: 0;
		padding-left: 0;
	}

}

#tab-content-1,
#tab-content-3 {
	display: block;
}

#tab-content-2,
#tab-content-4 {
	display: none;
}


@media ($wide-widths) {

	.tabs_programs {

		.tabs__wrapper {
			@include size(435px, 58px);
			border-radius: 100px;
			margin-bottom: 52px;
		}

		.tabs__option {
			font-size: 15px;
			padding-top: 24px;
			padding-bottom: 20px;
			margin-right: 28px;

			&:first-of-type {
				margin-left: 34px;
			}

		}

		.tabs__radio:checked + .tabs__option {
			font-size: 15px;
			@include size(207px, 28px);
			margin-left: 10px;
			margin-right: 12px;
			padding-top: 16px;
			border-radius: 100px;
		}

		.tabs__radio:checked + .tabs__option:last-of-type {
			margin-left: 0;
			margin-right: 0;
		}

	}

	.tabs_docs {
		float: left;
		width: 316px;
		padding-left: 32px;
		margin-top: 115px;
		margin-left: 90px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			@include size(1px, 100%);
			border-left: 1px dashed #d8d8d8;
		}

		.tabs__wrapper_docs {
			@include size(314px, 43px);
		}

		.tabs__option_docs {
			font-size: 13px;
			padding-top: 15px;
			margin-right: 20px;

			&:first-of-type {
				margin-left: 20px;
			}

			&:last-of-type {
				margin-right: 0;
			}

		}

		.tabs__radio_docs:checked + .tabs__option_docs {
			font-size: 13px;
			width: 131px;
			margin-left: 20px;
			margin-right: 20px;
		}

		.tabs__radio_docs:checked + .tabs__option_docs:last-of-type {
			margin-left: 0;
			margin-right: 0;
		}


	}



}
