.tabs_programs {

	.tabs__wrapper {
		@include size(280px, 37px);
		background-color: $blue;
		border-radius: 60px;
		margin: auto;
		margin-bottom: 25px;
	}

	.tabs__option {
		@include font-param(10px, 10px, 700, $white);
		text-transform: uppercase;
		cursor: pointer;
		margin-right: 7px;
		display: inline-block;
		padding-top: 12px;
		padding-bottom: 13px;
		border-radius: 40px;

		&:first-of-type {
			padding-left: 17px;
		}

	}

	.tabs__radio {
		display: none;
	}

	.tabs__radio:checked + .tabs__option {
		@include font-param(10px, 10px, 400);
		text-align: center;
		padding: 0;
		padding-top: 7px;
		margin-left: 7px;
		background-color: $white;
		@include size(134px, 20px);
		border-radius: 60px;
	}

	.tabs__radio:checked + .tabs__option:last-of-type {
		margin-left: 17px;
	}

}

.tabs_docs {
	margin-top: 37px;

	.tabs__wrapper {
		width: 278px;
		background-color: $white;
		border: 1px solid $blue;
		margin-bottom: 31px;
	}

	.tabs__option {
		color: $graytext;
		font-size: 13px;
		margin-right: 3px;
		padding-top: 14px;

		&:first-of-type {
			padding-left: 9px;
		}

		&:last-of-type {
			margin-right: 0;
		}

	}

	.tabs__radio:checked + .tabs__option {
		@include font-param(13px, 10px, 400, $blue);
		border: none;
		margin-left: 1px;
		padding-left: 9px;
		width: auto;
		height: auto;
	}

	.tabs__radio:checked + .tabs__option:last-of-type {
		margin-left: 0;
		padding-left: 0;
	}

}

#tab-content-1,
#tab-content-3 {
	display: block;
}

#tab-content-2,
#tab-content-4 {
	display: none;
}
