.disclaimer
	.disclaimer__item#disclaimer_1
		p.disclaimer__text.disclaimer__text_1.
			Услуги страхования оказывают: <br>
			- ОАО «АльфаСтрахование» (Лицензия СИ № 2239),
			<br>
			- САО «ВСК» (Лицензия СИ № 0621),
			<br>
			- ООО «Группа Ренессанс Страхование» (Лицензия СИ № 1284),
			<br>
			- СПАО «Ингосстрах» (Лицензия CИ № 0928),
			<br>
			- ПАО «Росгосстрах» (Лицензия СИ № 0001)
			<span> При выборе страхователем иной страховой организации условия страхования могут отличаться. Общество с ограниченной ответственностью «Фольксваген Финансовые Услуги РУС» не оказывает услуги страхования.</span>
			<span> <sup>1</sup> Условия предоставления и наличие данной услуги необходимо уточнить у страховщика в Вашем регионе <br>
			<sup>2</sup> Фольксваген Страхование <br>
			<sup>3</sup> Наличие услуги уточняйте у выбранной Вами страховой компании в Вашем регионе </span>
		button(type='button').disclaimer__btn.disclaimer__btn_1
	.disclaimer__item#disclaimer_2
		p.disclaimer__text.disclaimer__text_2.
			Услуги страхования оказывают: <br>
			- ОАО «АльфаСтрахование» (Лицензия СИ № 2239),
			<br>
			- САО «ВСК» (Лицензия СИ № 0621),
			<br>
			- ООО «Группа Ренессанс Страхование» (Лицензия СИ № 1284),
			<br>
			- СПАО «Ингосстрах» (Лицензия CИ № 0928),
			<br>
			- ПАО «Росгосстрах» (Лицензия СИ № 0001)
			<span> При выборе страхователем иной страховой организации условия страхования могут отличаться. Общество с ограниченной ответственностью «Фольксваген Финансовые Услуги РУС» не оказывает услуги страхования.</span>
			<span> <sup>1</sup> Условия предоставления и наличие данной услуги необходимо уточнить у страховщика в Вашем регионе <br>
			<sup>2</sup> Фольксваген Страхование <br>
			<sup>3</sup> Наличие услуги уточняйте у выбранной Вами страховой компании в Вашем регионе </span>
		button(type='button').disclaimer__btn.disclaimer__btn_2
	.disclaimer__item#disclaimer_3
		p.disclaimer__text.disclaimer__text_3.
			Услуги страхования оказывают: <br>
			- ОАО «АльфаСтрахование» (Лицензия СИ № 2239),
			<br>
			- САО «ВСК» (Лицензия СИ № 0621),
			<br>
			- ООО «Группа Ренессанс Страхование» (Лицензия СИ № 1284),
			<br>
			- СПАО «Ингосстрах» (Лицензия CИ № 0928),
			<br>
			- ПАО «Росгосстрах» (Лицензия СИ № 0001)
			<span> При выборе страхователем иной страховой организации условия страхования могут отличаться. Общество с ограниченной ответственностью «Фольксваген Финансовые Услуги РУС» не оказывает услуги страхования.</span>
			<span> <sup>1</sup> Условия предоставления и наличие данной услуги необходимо уточнить у страховщика в Вашем регионе <br>
			<sup>2</sup> Фольксваген Страхование <br>
			<sup>3</sup> Наличие услуги уточняйте у выбранной Вами страховой компании в Вашем регионе </span>
		button(type='button').disclaimer__btn.disclaimer__btn_3
