.tabs__content.programs__content_guarantee.t1#tab-content-1
	.range.range_rest
		+ slider(arraySlider_2)
	.payment
		h1.page_body__title.payment__title Низкий ежемесячный платеж
		span.payment__subtitle Условия кредитования
		.payment__comparison
			.payment__program.payment__program_guarantee
				.payment__price.payment__price_guarantee
					span 17 800
					svg(class='icon icon_ruble icon_white')
						use(xlink:href='img/sprite.svg#i-ruble')
				.payment__label.payment__label_guarantee Программа гарант
			.payment__program.payment__program_standard
				.payment__price.payment__price_standard
					span 1 319 000
					svg(class='icon icon_ruble icon_white')
						use(xlink:href='img/sprite.svg#i-ruble')
				.payment__label.payment__label_standard Стандартный кредит
		.payment__total
			b 3 885 889
			svg(class='icon icon_ruble icon_blue icon_blue_payment')
				use(xlink:href='img/sprite.svg#i-ruble')
			span.payment__label.payment__label_total Выкупная стоимость автомобиля
