.tabs__content#tab-content-1
	.range.range_rest
		+ slider(arraySlider_2)
	.payment
		h1.page_body__title.payment__title Низкий ежемесячный платеж
		span.payment__subtitle Условия кредитования
		.payments__comparison
			.payments__program.payments__program_guarantee
				.payments__price 17 800 р
				.payments__label Программа гарант
			.payments__program.payments__program_standard
				.payments__price 1 319 000 р
				.payments__label Стандартный кредит
		.payments__total
			b 3 885 889 р
			span Выкупная стоимость автомобиля
