.popup
	.popup__request
		b Оставить заявку
		button.popup__btn.popup__btn_open
		h3.popup__title Tiguan
		span.popup__subtitle Стоимость автомобиля
		span.popup__price 1 319 000 Р
		a(class='popup__btn popup__btn_save' href='#') Сохранить расчет
		a(class='popup__btn popup__btn_requirements' href='#') Требования к заемщику
