.tabs__content.programs__content_standard.t2#tab-content-2
	+ form_element({
		type:'select',
		class_array: default_select_6,
		id:'credit_program',
		title:'Программа',
		options:['Кредит на приобретение транспортного средства', 'Кредит на приобретение транспортного средства', 'Кредит на приобретение транспортного средства']
	})
	.programs__subtitle Условия кредитования
		span.circle.circle_1 1
	.tabs.tabs_docs
		.tabs__wrapper.tabs__wrapper_docs
			+ tabs(arrayTabs_2)
		.documents.documents_two.tabs__content.t3#tab-content-3
			.documents__item.documents__item_1
				span Платеж в месяц
				b 127 800
				svg(class='icon_ruble icon_ruble_doc icon_gray')
					use(xlink:href='img/sprite.svg#i-ruble')
			.documents__item.documents__item_2
				span Ставка
				b 19%
			.documents__item.documents__item_3
				span Стоимость кредита
				b 770 100
				svg(class='icon_ruble icon_ruble_doc icon_gray')
					use(xlink:href='img/sprite.svg#i-ruble')
