//fonts

@font-face {
	@include font-setup($font-fam1, $font-1-local, $font-1-url1, $font-1-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam2, $font-2-local, $font-2-url1, $font-2-url2);
  font-weight: 700;
}
@font-face {
	@include font-setup($font-fam3, $font-3-local, $font-3-url1, $font-3-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam4, $font-4-local, $font-4-url1, $font-4-url2);
  font-weight: 700;
}

//global styles

body {
	font-family: 'vwtextoffice-regular', sans-serif;
	@include font-param(16px, 16px, 400);
	position: relative;
	background-color: $bg1;
	padding: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
select,
img {
	outline: none;
}

dd {
	margin: 0;
}

@media ($wide-widths) {

	body {
		min-width: 885px;
		padding: 0;
		padding-top: 30px;
	}

}

// chosen
.chosen-container-single .chosen-single {
	font-size: 20px;
	border: 1px solid #bdc3c6;
	border-radius: 3px;
	background: #ffffff;
	color: #333;
	box-shadow: none;
	padding-top: 8px;
	padding-bottom: 32px;
	padding-left: 12px;
}

.chosen-container {
	width: 100% !important;
}

.select_wrap {
	position: relative;
	margin: 0;
}

.chosen-drop {
	font-size: 20px;
	border: 1px solid #bdc3c6 !important;
	border-radius: 3px;
}

.chosen-container .chosen-results li {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	padding-left: 12px !important;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #f3f5f6 !important;
	color: $graytext;
	background-image: none;
}

.chosen-container .chosen-results {
	margin: 0 !important;
	padding: 0 !important;
}

.kdxvw-form__row {
	padding: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background-color: $white;
	background-image: none;
}

.chosen-container-single .chosen-single div {
	right: 12px;
}

.request__form .chosen-container-single .chosen-single {
	border-color: #cfd7d9;
}


//range

.ui-slider-handle.ui-corner-all.ui-state-default {
	outline: none;

}

.ui-slider .ui-slider-handle {
	outline: none !important;
	@include size(13px, 13px);
	background-color: #ffffff !important;
	border-bottom: 1px solid #cfd7d9 !important;
	border-left: 1px solid #cfd7d9 !important;
	border-right: 1px  solid #cfd7d9 !important;
	border-top: 1px solid #ffffff !important;
	cursor: pointer !important;
}

.ui-slider-handle::before {
	content: '';
	position: absolute;
	top: -6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 7px 6px;
	border-color: transparent transparent #ffffff transparent;
	z-index: 6;
}

.ui-slider-handle::after {
	content: '';
	position: absolute;
	top: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 7px 6px;
	border-color: transparent transparent #cfd7d9 transparent;
	z-index: 5;
}

.ui-widget {
	background-color: transparent !important;
}

.ui-widget.ui-widget-content {
	border: none;
}

.ui-slider-label,
.ui-slider-tip {
	cursor: default !important;
	font-family: 'vwheadoffice-regular', sans-serif;
	@include font-param(11px, 11px, 400, #cccccc);
	top: 0 !important;
}

.ui-slider-pips .ui-slider-label {
	width: 1.5em !important;
}

.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
	color: #cccccc;
}

.ui-slider-pips [class*=ui-slider-pip-selected]  {
	color: $blue !important;

}

.ui-slider-float .ui-slider-tip,
.ui-slider-float .ui-slider-tip-label {
	top: 19px !important;
	background: transparent !important;
	border: none !important;
	left: -7px !important;
	margin-left: -4px !important;
	color: $blue;
}

.ui-slider-tip:last-child {
	margin-left: -3px !important;
}

.ui-slider-float .ui-slider-tip:after,
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
	display: none;
}

.ui-slider-float .ui-slider-tip:before,
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
	display: none;
}

.ui-slider-line {
	background: #cfd7d9 !important;
	height: 8px !important;
	top: -12px !important;
	left: 43% !important;
}
