//global styles

body {
	font-family: 'vwtextoffice-regular', sans-serif;
	@include font-param(16px, 16px, 400);
	position: relative;
	background-color: $bg1;
	padding: 0;
	min-width: 320px;
	// padding-left: 20px;
	// padding-right: 20px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
select,
img {
	outline: none;
}

dd {
	margin: 0;
}

.scale {
	display: none;
}

@media ($wide-widths) {

	body {
		min-width: 885px;
		padding: 0;
		padding-top: 30px;
	}

}

// chosen
.chosen-container-single .chosen-single {
	font-size: 20px;
	border: 1px solid #bdc3c6;
	border-radius: 3px;
	background: #ffffff;
	color: #333;
	box-shadow: none;
	padding-top: 6px;
	padding-bottom: 30px;
	padding-left: 12px;
}

.chosen-container {
	width: 100% !important;
}

.select_wrap {
	position: relative;
	margin: 0;
}

.chosen-drop {
	font-size: 20px;
	border: 1px solid #bdc3c6 !important;
	border-radius: 3px;
}

.chosen-container .chosen-results li {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	padding-left: 12px !important;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #f3f5f6 !important;
	color: $graytext;
}

.chosen-container .chosen-results {
	margin: 0 !important;
	padding: 0 !important;
}


//range

.ui-slider-handle.ui-corner-all.ui-state-default {
	outline: none;

}

.ui-slider-handle {
	outline: none !important;
	@include size(13px, 19px);
	background-color: #ffffff !important;
	border-bottom: 1px solid #cfd7d9 !important;
	border-left: 1px solid #cfd7d9 !important;
	border-right: 1px  solid #cfd7d9 !important;
	border-top: 1px solid #ffffff !important;
	cursor: pointer !important;
}

.ui-slider-handle::before {
	content: '';
	position: absolute;
	top: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 11px 9px 10px;
	border-color: transparent transparent #ffffff transparent;
	z-index: 6;
}

.ui-slider-handle::after {
	content: '';
	position: absolute;
	top: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 11px 9px 10px;
	border-color: transparent transparent #cfd7d9 transparent;
	z-index: 5;
}

.ui-widget {
	background-color: transparent !important;
}
