//fonts

@font-face {
	@include font-setup($font-fam1, $font-1-local, $font-1-url1, $font-1-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam2, $font-2-local, $font-2-url1, $font-2-url2);
  font-weight: 700;
}
@font-face {
	@include font-setup($font-fam3, $font-3-local, $font-3-url1, $font-3-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam4, $font-4-local, $font-4-url1, $font-4-url2);
  font-weight: 700;
}

//global styles

body {
	font-family: 'vwtextoffice-regular', sans-serif;
	@include font-param(16px, 16px, 400);
	position: relative;
	background-color: $bg1;
	padding: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
select,
img {
	outline: none;
}

dd {
	margin: 0;
}

@media ($wide-widths) {

	body {
		min-width: 885px;
		padding: 0;
		padding-top: 30px;
	}

}

.chosen-container-single .chosen-single {
	font-size: 14px !important;
	line-height: 22px !important;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px !important;
	border: 1px solid #dee1e3 !important;
}

.chosen-container {
	width: 100% !important;
}

.select_wrap {
	position: relative;
	margin: 0;
}

.chosen-drop {
	font-size: 14px !important;
	border: 1px solid #dee1e3 !important;
	border-radius: 4px;
	box-shadow: none !important;
}

.chosen-container-single .chosen-drop {
	margin-top: -2px !important;
}

.chosen-container .chosen-results li {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	padding-left: 12px !important;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #f3f5f6 !important;
	color: $graytext;
	background-image: none;
}

.chosen-container .chosen-results {
	margin: 0 !important;
	padding: 0 !important;
}

.kdxvw-form__row {
	padding: 0;
}

.kdxvw-form__input:focus, .kdxvw-form__textarea:focus, .kdxvw-form select:focus  {
	border: 1px solid #dee1e3 !important;
}

.kdxvw-form .chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #dee1e3 !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background-color: $white;
	background-image: none;
}

.chosen-container-single .chosen-single div {
	right: 12px;
}

.request__form .chosen-container-single .chosen-single {
	border-color: #cfd7d9;
}

.kdxvw-form__row b,
.kdxvw-form .chosen-container-multi .chosen-choices:after,
.kdxvw-form .kdxvw-check__selected:after {
	background-image: url('../img/icons/i-arrow-down-select.svg') !important;
	background-position: 50% 50%;
	position: absolute;
	transition: 0.3s;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: 50% 50%;
	transform: rotate(180deg);
	transition: 0.3s;
}

//range

// .ui-widget-header {
// 	background: $blue !important;
// 	border: 1px solid $blue !important;
// 	border-radius: 4px !important;
// }
//
// .ui-slider-horizontal .ui-slider-handle {
// 	margin-left: -1.2em;
// }
//
// .ui-slider .ui-slider-handle {
// 	background-color: $white !important;
// 	width: 40px !important;
// 	height: 40px !important;
// 	border-radius: 100px;
// 	cursor: pointer;
// 	border: solid 1px #dee1e3;
// 	box-shadow: none !important;
// 	outline: none !important;
// 	top: -15px;
// }
//
// .ui-slider-handle::before {
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	left: 5px;
// 	top: 5px;
// 	width: 28px;
// 	height: 28px;
// 	border-radius: 100px;
// 	background-color: #ffffff;
// 	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), inset 0 1px 2px 0 rgba(0, 0, 0, 0.16);
// }
//
// .ui-slider-handle::after {
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	top: 12px;
// 	left: 12px;
// 	width: 15px;
// 	height: 15px;
// 	border-radius: 100px;
// 	background-color: #009cd9;
// 	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
// }
//
// .ui-slider-line {
// 	width: 1px !important;
// 	height: 8px !important;
// 	background-color: #00b1eb !important;
// }
//
// .ui-slider-label {
// 	font-family: 'vwheadoffice-regular', sans-serif !important;
// 	font-size: 11px !important;
// 	color: #bdc3c6 !important;
// 	position: relative;
// }
//
// .ui-slider-pips .ui-slider-label {
// 	position: absolute;
// 	top: 12px !important;
// }
//
// .ui-slider-pips [class*=ui-slider-pip-selected],
// .ui-slider-pips [class*=ui-slider-pip-initial],
// .ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
// 	font-weight: 400 !important;
// }


.irs-min, .irs-max {
	display: none;
}

.irs-from, .irs-to, .irs-single {
	display: none;
}

.irs-line {
	background: #c2c2c2;
	border: 1px solid #c2c2c2 !important;
	border-radius: 100px !important;
	height: 15px !important;
}

.irs-bar-edge,
.irs-bar {
	height: 15px !important;
	background: $blue;
}

.irs-bar {
	left: 4.5% !important;
	border-top: 1px solid $blue !important;
	border-bottom: 1px solid $blue !important;
}

.irs-shadow {
	height: 17px !important;
	background: #ffffff;
	top: 33px !important;
	border-radius: 100px !important;
	opacity: 0.4;
}

.irs-slider {
	background: $white !important;
	width: 40px !important;
	height: 40px !important;
	border-radius: 100px;
	cursor: pointer;
	border: solid 1px #dee1e3;
	box-shadow: none !important;
	outline: none !important;
	top: 20px;
}

.irs-slider::before {
	content: '';
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 28px;
	height: 28px;
	border-radius: 100px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), inset 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.irs-slider::after {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 12px;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background-color: #009cd9;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.irs-grid-text {
	font-family: 'vwheadoffice-regular', sans-serif !important;
	font-size: 11px !important;
	color: #bdc3c6 !important;
	top: 22px;
}

.irs-grid-pol.small {
	display: none;
}

.irs-grid-pol {
	width: 1px !important;
	height: 8px !important;
	background-color: $blue !important;
	top: 8px;
}


@media ($wide-widths) {

	.irs-line,
	.irs-bar-edge,
	.irs-bar,
	.irs-shadow {
		top: 10px !important;
	}

	.irs-slider {
		top: -2px;
	}

	.irs-grid {
		top: 27px;
	}

}
