include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- var array = '';
- var arrayFav = '';
block vars
block favicons
doctype
html(lang='ru')
	head
		+head(array,arrayFav)
	body(class='#{array.body_class}')
		+header
			main.page_main(class='#{array.layout_mod}')
				.tabs

			+footer
		+scripts
		block local_popup
