include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- var array = '';
- var arrayFav = '';

block vars
block favicons
doctype
html(lang='ru')
	head
		+ head(array,arrayFav)
	body(class='#{array.body_class}')
		.wrapper
			+ header
			main.page_main(class='#{array.layout_mod}')
				.tabs.tabs_programs.page_main__programs.programs
					+ tabs(arrayTabs_1)
					block filters
					block guarantee
					block standard
				block request
			+ scripts
			block popup
