.disclaimer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	animation: slideFromBottom 400ms;
	display: none;
}

@keyframes slideFromBottom {

	0% {
		bottom: -100%;
		opacity: 0;
	}

	100% {
		bottom: 0;
		opacity: 1;
	}

}

.disclaimer__item {
	@include font-param(11px, 1.45, 400, #f3f5f6);
	background-color: #2f3538;
	opacity: 0.9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 13px;
	padding-left: 15px;
	padding-right: 73px;
	padding-bottom: 14px;
	width: 740px;
	margin: auto;
	display: none;
	position: relative;

	span {
		display: block;
		margin-top: 14px;
	}

	i {
		font-size: 8px;
		font-style: normal;
		display: inline-block;
		margin-right: 2px;
		margin-top: -5px;
	}

}

.disclaimer__text {
	margin: 0;
}

.disclaimer__btn {
	background: rgba(29, 30, 32, 0.3) url('../img/i-close.png') no-repeat 50% 50% ;
	outline: none;
	border: none;
	cursor: pointer;
	@include size(25px,25px);
	border-radius: 50%;
	position: absolute;
	top: 15px;
	left: 788px;
}

.disclaimer__show {
	display: block;
}

.disclaimer__remove {
	opacity: 0;
	transition: all 400ms;
}
