.page_body__title {
	font-family: 'vwheadoffice-bold', sans-serif;
	@include font-param(24px, 29px, 700);
	text-align: center;
	margin-bottom: 17px;
	position: relative;
}


@media ($wide-widths) {

	.page_body__title {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 32px;

	}

}
