.prices {
	width: 290px;
}

.prices__item {
	display: inline-block;
	vertical-align: top;

	&_cost {
		position: relative;
		width: 135px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 143px;
			@include size(1px, 100%);
			background-color: #d8d8d8;
		}

	}

	&_payment {
		width: 130px;
		padding-top: 4px;
		padding-left: 17px;
	}

}

.prices__value {
	@include font-param(24px, 18px, 700);

	&_cost {
		border: none;
		background: none;
		padding: 0;
		@include size(110px, 29px);
		margin-bottom: 6px;
		cursor: pointer;
	}

	&_pay {
		color: $blue;
		display: block;
		margin-bottom: 9px;
		height: 18px;
	}

	&_active {
		background-color: $white;
		text-align: left;
		border-radius: 8px;
		z-index: 1;
		position: relative;
		transition: all 300ms ease;
		padding-left: 5px;

	}

}


@media ($wide-widths) {

	.prices {
		float: right;
		width: 201px;
		margin-left: 89px;
		margin-right: 141px;
	}

	.prices__item {

		&_cost {
			position: relative;
			width: 100%;
			padding-bottom: 10px;
			margin-bottom: 21px;

			&::after {
				content: '';
				position: absolute;
				top: 77px;
				left: 0;
				@include size(100%, 1px);
				background-color: #d8d8d8;
			}

		}

		&_payment {
			padding-left: 0;
			width: 100%;

		}

	}

	.prices__value {
		font-family: 'vwtextoffice-bold', sans-serif;

		&_cost {
			font-size: 30px;
			width: 129px;
			height: 37px;
		}

		&_pay {
			font-size: 48px;
			width: 193px;
			height: 33px;
			margin-bottom: 7px;
		}

	}

}
