.programs {
	margin-bottom: 51px;
}

.programs__img {
	position: relative;
	padding-top: 79px;
	text-align: center;
	margin-bottom: 45px;

	img {
		@include size(310px, 108px);
		position: relative;
		z-index: 1;
	}

	b {
		font-family: 'vwheadoffice-bold', sans-serif;
		@include font-param(72px, 54px, 700, #e3ebed);
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
		position: absolute;
		top: 28px;
		left: 16%;
		z-index: 0;
	}

}

.programs__input {

	&_cost {
		width: 100%;
	}

}

.programs__prices {
	margin-bottom: 100px;
}

.programs__slider {
	width: 280px;
}

.programs__content {
	margin-bottom: 5px;
}

.programs__subtitle {
	display: none;
}


@media ($wide-widths) {

	.programs {
		@include clearfix;
	}

	.programs__img {
		float: right;
		width: 387px;
		margin-right: 67px;

		img {
			@include size(387px, 135px);
		}

		b {
			font-size: 90px;
			top: 20px;
			left: 53px;
		}

	}

	.programs__info {
		@include clearfix;
	}

	.programs__slider {
		@include clearfix;

	}

	.programs__credit_term {
		@include clearfix;
	}

	.programs__left {
		float: left;
		margin-left: 89px;
		padding-top: 13px;
		width: 254px;

		&_standard {
			margin-top: 115px;
		}

	}

	.programs__slider {

	}

	.programs__content {

		&_guarantee {
			position: relative;
		}

	}

	.programs__subtitle {
		font-family: 'vwheadoffice-regular';
		@include font-param(11px, 11px, 400);
		text-transform: uppercase;
		display: block;
		float: right;
		margin-right: 103px;
		padding-right: 16px;
		position: relative;

		&::after {
			@include circle('1', 141px, -3px);
		}

	}

}
